/*4. Create an index.css file.*/
/*5. Apply an external styling to a paragraph tag.*/
p{
font-size: 15px;
}


/*6. Change the font-family and the font size of all elements using the universal selector.*/
*{
	font-family: "arial", monospace;
	font-size: 15px;
}

/*7. Change the font-size of h1 tags using a type selector.*/
h1 {
	font-size: 30px;
	font-family: sans-serif;
}

/*8. Change the text to all uppercase letters for h2 tags using ID selector*/
#intro {
	text-transform: uppercase;
}

/*9. Change the background colors of the languages to be learn list items using a class selectors.*/
.firstoptions {
	background-color: gray;
}

/*10. Change the border of the tools to be used list items using a attribute selectors.*/
[class|="secondoptions"] {

	border-width: 1px;
	border-style: solid;
	border-color: blue;
}

/*11. Change the list style type of the other things to be learned list using an adjacent sibling selector.
*/

img + #thirdoptions {
  font-family:	Berlin Sans FB;
}

/*12. Change the dimensions of the image tag using a descendant selector.*/

h4 + #image{
	height: 100px;
	width: 100px;
	/*border-radius - round the corner of the img element*/
	border-radius: 150px;
}

/*13. Change the alignment of the last paragraph using a generic sibling selector.*/

div - p {
	text-align: center;

}


/* I need to learn more on using different selectors*/
/* I need to learn more on using different selectors*/
/* I need to learn more on using different selectors*/
/* I need to learn more on using different selectors*/



